// #region Global Imports
import React from "react";
{{#isPage}}
import { NextPage } from "next";
{{/isPage}}
{{#isConnectStore}}
import { useSelector, useDispatch } from "react-redux";
{{/isConnectStore}}
// #endregion Global Imports

// #region Local Imports
{{#isPage}}
import { useTranslation } from "next-i18next";
{{/isPage}}
{{#isConnectStore}}
import { IStore } from "@Redux/IStore";
import { {{upperFileName}}Actions } from "@Actions";
{{/isConnectStore}}
{{#hasStyle}}
    {{#isScss}}
import "./style.scss";
    {{/isScss}}
    {{#isStyled}}
        {{#isPage}}
import { Container } from "@Styled/{{upperFileName}}";
        {{/isPage}}
        {{^isPage}}
import { Container } from "./styled";
        {{/isPage}}
    {{/isStyled}}
{{/hasStyle}}
// #endregion Local Imports

// #region Interface Imports
{{#isPage}}
import { {{interfaceName}} } from "@Interfaces";
{{/isPage}}
{{^isPage}}
import { {{interfaceName}} } from "./{{upperFileName}}";
{{/isPage}}
// #endregion Interface Imports

{{#isPage}}
export const {{upperFileName}}: NextPage<{{interfaceName}}.IProps> = ({}) => {
{{/isPage}}
{{^isPage}}
export const {{upperFileName}}: React.FunctionComponent<
    {{interfaceName}}.IProps
> = (props: {{interfaceName}}.IProps) => {
{{/isPage}}
    {{#isPage}}
    const { t } = useTranslation(["common"]);
    {{/isPage}}
    {{#isConnectStore}}
    const {{lowerFileName}} = useSelector((state: IStore) => state.{{lowerFileName}});
    const dispatch = useDispatch();
    {{/isConnectStore}}

    return (
        {{#isStyled}}
        <Container>
            {{upperFileName}} Page
        </Container>
        {{/isStyled}}
        {{^isStyled}}
        <section id="{{lowerFileName}}">
            {{upperFileName}} Page
        </section>
        {{/isStyled}}
    );
};

{{#isPage}}
export const getStaticProps: GetStaticProps<{{interfaceName}}.IProps> = async ctx => {
    const props: {{interfaceName}}.IProps = {
        ...(await serverSideTranslations(ctx.locale as string, [
            "common",
        ])),
    };
    return {
        props,
    };
};


export default {{upperFileName}};
{{/isPage}}
