{{#isPage}}
// #region Global Imports

// #endregion Global Imports
{{/isPage}}

export declare module {{interfaceName}} {
    export interface IProps {}
    {{^isPage}}

    export interface IState { }
    {{/isPage}}

    {{#isConnectStore}}

    export interface IStateProps { }

    module Actions {
        export interface IMapPayload { }
        export interface IMapResponse { }
    }
    {{/isConnectStore}}
}
